*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-weight: bold;
  color: #414D64;
  margin: 5px;
}
*:focus {outline:none !important}


html { 
    text-align: center;
    background: url(/img/paper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 48px;
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 2px 2px #7D96A0;
  }

  li {
    list-style: none;
    text-decoration: none;
    color: #7D96A0;
    font-size: 36px;
  }

  label, button {
    font-size: 24px;
  }

  button {
    border: none;
    background-color: #E38B7F;
    color: white;
    cursor: pointer;
  }

  input, input:active {
    border: none;
    height: 40px;
    width: 200px;
    color: #7D96A0;
    text-align: center;
    font-size: 36px;
  }


 form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }